<div *ngIf="board" class="board-title">
  <span>{{board?.title}}</span>
</div>

<section *ngIf="board" id="main" >

  <!--  <div *ngFor="let task of board.task class="sortable-task">-->
  <div *ngFor="let task of board.task">
    <app-task [task]="task"
              (onAddSubTask)="addSubTask($event)"
              [subTasks]="task.subtask">
    </app-task>

  </div>
  <div class="add-task">
    <input
      (keyup)="addtaskOnEnter($event)"
      [(ngModel)]="addtaskText"
      placeholder="Add a task" />
  </div>
</section>
